<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Registration</title>
</head>
<body>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <article class="card-body">
                    <form th:action="@{/message/send}" th:object="${msgForm}" method="post"><!-- form-row end.// -->
                        <div class="form-group">
                            <label>Mail</label>
                            <input class="form-control" placeholder="" th:field="*{email}">
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
                        </div> <!-- form-group end.// -->
                        <div class="form-group">
                            <label>Title</label>
                            <input class="form-control" th:field="*{title}">
                            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</span>
                        </div> <!-- form-group end.// -->
                        <div class="form-group">
                            <label>Content</label>
                            <textarea th:field="*{content}"></textarea>
                            <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content Error</span>
                        </div> <!-- form-group end.// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Register</button>
                        </div> <!-- form-group// -->
                    </form>
                </article> <!-- card-body end .// -->
                <div class="border-top card-body text-center">Have an account? <a th:href="@{/login}">Log In</a></div>
            </div> <!-- card.// -->
        </div> <!-- col.//-->

    </div> <!-- row.//-->


</div>
</body>
</html>