<html xmlns:th="http://www.thymeleaf.org">
<body>
<div>
    <h1>You are logged as
        <div th:each="user : ${users}">
            <span th:text="${user.username}"/>
        </div>
    </h1>
</div>
<div>
    <h1><a th:href="@{/logout}">Logout</a></h1>
</div>
</body>
</html>